In [2]:
a=5
b=7
c=a+b**5
print(c)

16812

In [3]:
a=3
b=4
c=a**3+b
print(c)

31

In [4]:
from math import*
def aire(rayon):
    A=pi*rayon**2
    return(A)

In [5]:
aire(12)

452.3893421169302

In [6]:
def som():
    s=0
    for k in range(1,6):
        s=s+k
    return(s)

In [7]:
som()

15

In [8]:
def som():
        s=0
        k=1
        while s<10000:
            s=s+k
            k=k+1
        return(k-1)

In [9]:
som()

141

In [10]:
L1=[10]
for i in range (1,101):
    L1=L1+[i]
print(L1)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [11]:
L2=[x**2 for x in range(1,21)]
print(L2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [12]:
L=[]
for i in range (4,9):
    L.append(i+1)
print(L)

[5, 6, 7, 8, 9]

In [13]:
L=[]
for i in range (1,10):
    L.append(11*i)
print(L)

[11, 22, 33, 44, 55, 66, 77, 88, 99]